.DS_Store
node_modules
dist/*
!.keep

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env
.envrc
.env.erb
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.dump-hi
*.hie
*.hie-boot
.tmp
logfile
*.prof
*.eventlog
*.eventlog.html
*.hp

.kamal/secrets
frontend/yarn.lock
frontend/package-lock.json
frontend/src/generated/taboos_zh.json
frontend/src/generated/taboos_zh-cn.json
frontend/src/generated/taboos_vi.json
frontend/src/generated/taboos_ru.json
frontend/src/generated/taboos_pt.json
frontend/src/generated/taboos_pl.json
frontend/src/generated/taboos_ko.json
frontend/src/generated/taboos_it.json
frontend/src/generated/taboos_fr.json
frontend/src/generated/taboos_es.json
frontend/src/generated/taboos_de.json
frontend/src/generated/taboos_cs.json
frontend/src/generated/taboos.json
frontend/src/generated/standaloneScenarios.json
frontend/src/generated/scenarioNames_zh.json
frontend/src/generated/scenarioNames_zh-cn.json
frontend/src/generated/scenarioNames_vi.json
frontend/src/generated/scenarioNames_ru.json
frontend/src/generated/scenarioNames_pt.json
frontend/src/generated/scenarioNames_pl.json
frontend/src/generated/scenarioNames_ko.json
frontend/src/generated/scenarioNames_it.json
frontend/src/generated/scenarioNames_fr.json
frontend/src/generated/scenarioNames_es.json
frontend/src/generated/scenarioNames_de.json
frontend/src/generated/scenarioNames_cs.json
frontend/src/generated/scenarioNames.json
frontend/src/generated/rules_zh.json
frontend/src/generated/rules_zh-cn.json
frontend/src/generated/rules_ru.json
frontend/src/generated/rules_pl.json
frontend/src/generated/rules_ko.json
frontend/src/generated/rules_it.json
frontend/src/generated/rules_fr.json
frontend/src/generated/rules_es.json
frontend/src/generated/rules_de.json
frontend/src/generated/rules.json
frontend/src/generated/README.md
frontend/src/generated/encounterSets_zh.json
frontend/src/generated/encounterSets_zh-cn.json
frontend/src/generated/encounterSets_vi.json
frontend/src/generated/encounterSets_ru.json
frontend/src/generated/encounterSets_pt.json
frontend/src/generated/encounterSets_pl.json
frontend/src/generated/encounterSets_ko.json
frontend/src/generated/encounterSets_it.json
frontend/src/generated/encounterSets_fr.json
frontend/src/generated/encounterSets_es.json
frontend/src/generated/encounterSets_de.json
frontend/src/generated/encounterSets_cs.json
frontend/src/generated/encounterSets.json
frontend/src/generated/chaosOdds_zh.json
frontend/src/generated/chaosOdds_zh-cn.json
frontend/src/generated/chaosOdds_vi.json
frontend/src/generated/chaosOdds_ru.json
frontend/src/generated/chaosOdds_pt.json
frontend/src/generated/chaosOdds_pl.json
frontend/src/generated/chaosOdds_ko.json
frontend/src/generated/chaosOdds_it.json
frontend/src/generated/chaosOdds_fr.json
frontend/src/generated/chaosOdds_es.json
frontend/src/generated/chaosOdds_de.json
frontend/src/generated/chaosOdds_cs.json
frontend/src/generated/chaosOdds.json
frontend/src/generated/campaignLogs_zh.json
frontend/src/generated/campaignLogs_zh-cn.json
frontend/src/generated/campaignLogs_vi.json
frontend/src/generated/campaignLogs_ru.json
frontend/src/generated/campaignLogs_pt.json
frontend/src/generated/campaignLogs_pl.json
frontend/src/generated/campaignLogs_ko.json
frontend/src/generated/campaignLogs_it.json
frontend/src/generated/campaignLogs_fr.json
frontend/src/generated/campaignLogs_es.json
frontend/src/generated/campaignLogs_de.json
frontend/src/generated/campaignLogs_cs.json
frontend/src/generated/campaignLogs.json
frontend/src/generated/campaignErrata_zh.json
frontend/src/generated/campaignErrata_zh-cn.json
frontend/src/generated/campaignErrata_vi.json
frontend/src/generated/campaignErrata_ru.json
frontend/src/generated/campaignErrata_pt.json
frontend/src/generated/campaignErrata_pl.json
frontend/src/generated/campaignErrata_ko.json
frontend/src/generated/campaignErrata_it.json
frontend/src/generated/campaignErrata_fr.json
frontend/src/generated/campaignErrata_es.json
frontend/src/generated/campaignErrata_de.json
frontend/src/generated/campaignErrata_cs.json
frontend/src/generated/campaignErrata.json
frontend/src/generated/allCampaigns_zh.json
frontend/src/generated/allCampaigns_zh-cn.json
frontend/src/generated/allCampaigns_vi.json
frontend/src/generated/allCampaigns_ru.json
frontend/src/generated/allCampaigns_pt.json
frontend/src/generated/allCampaigns_pl.json
frontend/src/generated/allCampaigns_ko.json
frontend/src/generated/allCampaigns_it.json
frontend/src/generated/allCampaigns_fr.json
frontend/src/generated/allCampaigns_es.json
frontend/src/generated/allCampaigns_de.json
frontend/src/generated/allCampaigns_cs.json
frontend/src/generated/allCampaigns.json
